

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
@{
    ViewBag.Title = "Hata Oluştu";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        @{
            Exception ex = null;

            if (TempData["LastError"] != null)
            {
                ex = TempData["LastError"] as Exception;
            }
        }

        <h1><span class="glyphicon glyphicon-remove"></span> Hata Oluştu</h1>
        <p>
            Hata oluştu, lütfen site yöneticisi ile iletişime geçiniz.
            <br /><br /><br />
            @if (ex != null)
            {
                <strong>Hata Detay : </strong>
                @ex.Message
                <br /><br /><br />
            }
            @Bootstrap.LinkButton("/Home/Index", "danger", "", "home", " Ana Sayfaya Git!")
            @Bootstrap.LinkButton("mailto:karakus.afurkan@gmail.com", "primary", "", "envelope", " E-Posta Gönder")
        </p>

    </div>
</div>