
@{
    ViewBag.Title = "RegisterOK";
}

<link href="~/Content/success.css" rel="stylesheet" />

<!------ Include the above in your HEAD tag ---------->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="container">
    <div class="row">
        <br><br>
            <div class="error-notice">
                <div class="oaerror success">
                    <strong>Yeppi</strong> - Başarıyla kayıt oldunuz. Teşekkür ederiz.
                </div>
                <div class="oaerror info">
                    <strong>Önemli</strong> - Lütfen E-mailinize giden aktivasyon koduna tıklayınız.
                </div>
                <div class="oaerror warning">
                    <strong>Uyarı</strong> - Hesabınızı aktive etmeden not ekleyemez ve not beğenemezsiniz.
                </div>
                
                <div class="oaerror info">
                    <strong>Yönlendirme</strong> - 10 saniye içinde anasayfaya yönlendirileceksiniz.
                </div>


            </div>
    </div>
</div>

<script>
    $(function () {

        $("footer").hide();

        setTimeout(function () {
            window.location = "../Home/Index";

        }, 10000)
    });

</script>